# Active LLM provider
LLM_PROVIDER=groq

# Groq API key
GROQ_API_KEY=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

# Optional overrides
GROQ_MODEL=openai/gpt-oss-120b
# GROQ_URL=https://api.groq.com/openai/v1/chat/completions

